* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #ffffff;
}

navbar .logo {
  font-size: 28px;
  color: #393e46;
  font-weight: bold;
  padding: 0 12%;
  margin-top: 32px;
}

.index {
  display: flex;
  padding: 0 12%;
  margin-top: 20vh;
  width: 100%;
}
.index .join-room-div {
  width: 85%;
  margin-right: 50px;
}
.index .join-room-div .text .head {
  font-size: 36px;
  font-weight: bold;
  color: #393e46;
}
.index .join-room-div .text .subtext {
  font-size: 24px;
  color: #6f6f6f;
  margin-top: 10px;
}
.index .join-room-div .createroom-butt {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  background-color: #B064E3;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border: 2px solid #B064E3;
  transition: 0.3s;
}
.index .join-room-div .createroom-butt:hover {
  background-color: white;
  border: 2px solid #4ecca3;
  color: #4ecca3;
  cursor: pointer;
}
.index .join-room-div .createroom-butt:focus {
  outline: none;
}
.index .join-room-div .createroom-clicked {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #4ecca3;
  color: #4ecca3;
}
.index .join-room-div .createroom-clicked:focus {
  outline: none;
}
.index .join-room-div .meeting-code {
  width: 100%;
  margin-top: 100px;
  font-size: 24px;
  color: #393e46;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  font-weight: bold;
}
.index .join-room-div .meeting-code:focus {
  background-color: white;
  border: 0;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  outline: none;
  border-radius: 0;
}
.index .join-room-div .meeting-code-error {
  border-bottom: 3px solid #d31c1c;
}
.index .join-room-div .join-room-btn {
  width: 100%;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  background-color: #3490dc;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border: 2px solid #3490dc;
  transition: 0.3s;
}
.index .join-room-div .divider {
  margin-top: 20px;
  width: 100%;
  text-align: Center;
  font-size: 24px;
  font-weight: bold;
  color: #232931;
}

.index .join-room-div .join-room-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
.index .video-display {
  width: 100%;
  text-align: center;
  left: -50px;
}
.index .video-display .video-display-user {
  height: 400px;
  width: 100%;
  background-color: #393e46;
  border-radius: 10px;
  object-fit: cover;
}
.index .video-display .buttons {
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  width: 100px;
}
.index .video-display .buttons .device {
  background-color: #3490dc;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
}
.index .video-display .buttons .device:hover {
  background-color: #393e46;
  cursor: pointer;
}
.index .video-display .buttons .nodevice {
  background-color: #b12c2c;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
}
.index .video-display .buttons .nodevice:hover {
  background-color: #393e46;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .index {
    flex-direction: column;
  }
  .index .join-room-div {
    width: 100%;
    margin-right: 0;
  }
  .index .video-display {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.dialog-box {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #393e46;
}
.dialog-box .box {
  width: 25%;
  margin: 0 auto;
  height: 200px;
  background-color: #ffffff;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
}
.dialog-box .box .user-name {
  padding-top: 20px;
  text-align: center;
  color: #393e46;
  font-weight: bold;
}
.dialog-box .box .input-name {
  margin: 0px auto;
  margin-top: 20px;
  border: 0;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  border-bottom: 3px solid #3490dc;
  color: #393e46;
  height: 40px;
}
.dialog-box .box .input-name:focus {
  outline: none;
}
.dialog-box .box .continue-btn {
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
  font-weight: bold;
  background-color: #3490dc;
  padding: 12px 20px;
  border-radius: 10px;
  transition: opacity 0.5s;
}
.dialog-box .box .continue-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.dialog-box .box .continue-btn:focus {
  outline: 0;
}

.room-div {
  margin: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: #ecf0f1;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.room-div ::-webkit-scrollbar {
  width: 10px;
}
.room-div ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.room-div ::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.room-div ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.room-div .main-div {
  width: 80%;
  background-color: #393e46;
  height: 100vh;
  padding: 50px;
  text-align: center;
  position: relative;
}
.room-div .main-div .white-board {
  height: 85vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px;
  padding-bottom: 0;
  min-height: 600px;
}
.room-div .main-div .white-board #whiteboard {
  background-color: white;
  border-radius: 10px;
}
.room-div .main-div .white-board .color-palette {
  position: absolute;
  right: 80px;
  top: 80px;
  display: flex;
  flex-direction: column;
}
.room-div .main-div .white-board .color-palette .black {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: black;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .black:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .red {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #e74c3c;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .red:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .yellow {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #f1c40f;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .yellow:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .green {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #badc58;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .green:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .orange {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #e67e22;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .orange:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .purple {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #9b59b6;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .purple:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .blue {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #3498db;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .blue:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .pink {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #fd79a8;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .pink:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .brown {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #834c32;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .brown:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .grey {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: gray;
  margin-top: 10px;
}
.room-div .main-div .white-board .color-palette .grey:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .eraser {
  height: 30px;
  width: 30px;
  font-size: 26px;
  margin-top: 10px;
  color: #2b2b2b;
}
.room-div .main-div .white-board .color-palette .eraser:hover {
  cursor: pointer;
}
.room-div .main-div .white-board .color-palette .clearboard {
  height: 30px;
  width: 30px;
  font-size: 26px;
  margin-top: 10px;
  color: #2b2b2b;
}
.room-div .main-div .white-board .color-palette .clearboard:hover {
  cursor: pointer;
}
.room-div .main-div .video-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 75vh;
}
.room-div .main-div .video-display .video-box {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.room-div .main-div .video-display .video-box .video-frame {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.room-div .main-div .video-display .video-box .user-name-tag {
  color: white;
  bottom: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.room-div .main-div .video-display .video-box .video-off-btn {
  color: white;
  bottom: 10px;
  position: absolute;
  font-weight: bold;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.room-div .main-div .video-display .video-box .mute-btn {
  color: #d63434;
  bottom: 10px;
  position: absolute;
  right: 10px;
  font-size: 20px;
  bottom: 10px;
}
.room-div .main-div .video-display-single {
  height: 75vh;
}
.room-div .main-div .video-display-single .video-box {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.room-div .main-div .video-display-single .video-box .video-frame {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.room-div .main-div .video-display-single .video-box .user-name-tag {
  color: white;
  bottom: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.room-div .main-div .video-display-single .video-box .video-off-btn {
  color: white;
  bottom: 10px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.room-div .main-div .video-display-single .video-box .mute-btn {
  color: #d63434;
  bottom: 10px;
  position: absolute;
  right: 10px;
  font-size: 20px;
  bottom: 10px;
}
.room-div .main-div .toolbar {
  position: relative;
}
.room-div .main-div .toolbar .utils {
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  width: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
}
.room-div .main-div .toolbar .utils .audio-btn {
  background-color: #3490dc;
  text-align: center;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.room-div .main-div .toolbar .utils .audio-btn:hover {
  cursor: pointer;
  background-color: #393e46;
}
.room-div .main-div .toolbar .utils .video-btn {
  background-color: #3490dc;
  text-align: center;
  margin-left: 10px;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.room-div .main-div .toolbar .utils .video-btn:hover {
  cursor: pointer;
  background-color: #393e46;
}
.room-div .main-div .toolbar .utils .screenshare-btn {
  background-color: #d8d8d8;
  text-align: center;
  margin-left: 10px;
  color: #393e46;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.room-div .main-div .toolbar .utils .screenshare-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
}
.room-div .main-div .toolbar .utils .board-btn {
  background-color: #d8d8d8;
  text-align: center;
  color: #393e46;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.room-div .main-div .toolbar .utils .board-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
}
.room-div .main-div .toolbar .utils .end-call-btn {
  background-color: #cc4e4e;
  text-align: center;
  margin-left: 10px;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.room-div .main-div .toolbar .utils .end-call-btn:hover {
  cursor: pointer;
  background-color: #393e46;
}
.room-div .main-div .toolbar .copycode-cont {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
}
.room-div .main-div .toolbar .copycode-cont .meeting-code {
  color: #3490dc;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 3px solid #3490dc;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.room-div .main-div .toolbar .copycode-cont .copycode-button {
  padding: 10px 0;
  width: 100px;
  text-align: center;
  color: white;
  background-color: #3490dc;
  border: none;
  font-weight: bold;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.room-div .main-div .toolbar .copycode-cont .copycode-button:hover {
  cursor: pointer;
}
.room-div .main-div .toolbar .copycode-cont .copycode-button:focus {
  outline: none;
}
.room-div .chat-div {
  width: 30%;
  background-color: #ffffff;
  height: 100vh;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.room-div .chat-div ::-webkit-scrollbar {
  width: 10px;
}
.room-div .chat-div ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.room-div .chat-div ::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.room-div .chat-div ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.room-div .chat-div .head-title {
  font-weight: bold;
  color: #393e46;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #393e46;
}
.room-div .chat-div .head-title .chats,
.room-div .chat-div .head-title .attendies {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  transition: background-color 0.5s;
}
.room-div .chat-div .head-title .chats:hover,
.room-div .chat-div .head-title .attendies:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.room-div .chat-div .chat-box {
  background-color: #ffffff;
  height: 84vh;
  padding: 10px;
  padding-top: 10px;
  overflow-y: scroll;
}
.room-div .chat-div .chat-box .message {
  margin-bottom: 15px;
  margin-left: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  word-break: break-all;
  word-wrap: break-word;
}
.room-div .chat-div .chat-box .message .info {
  display: flex;
  font-size: 0.85rem;
}
.room-div .chat-div .chat-box .message .info .username {
  font-weight: bold;
  color: #3490dc;
}
.room-div .chat-div .chat-box .message .info .time {
  margin-left: 12px;
}
.room-div .chat-div .chat-box .message .content {
  margin-top: 5px;
  font-size: 0.9rem;
}
.room-div .chat-div .chat-input-box {
  padding: 12px;
  display: flex;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}
.room-div .chat-div .chat-input-box .ci-cont {
  width: 80%;
}
.room-div .chat-div .chat-input-box .ci-send {
  width: 20%;
  margin-left: 20px;
}
.room-div .chat-div .chat-input-box .chat-input {
  width: 100%;
  height: 36px;
  font-size: 0.85rem;
  padding: 4px 10px;
  border: none;
  border-bottom: 3px solid #3490dc;
  color: #393e46;
}
.room-div .chat-div .chat-input-box .chat-input:focus {
  outline: none;
}
.room-div .chat-div .chat-input-box .chat-send {
  height: 36px;
  padding: 5px 20px;
  border: none;
  background-color: white;
  color: #3490dc;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 2px;
  transition: background-color 0.5s;
}
.room-div .chat-div .chat-input-box .chat-send:hover {
  color: #2980b9;
  cursor: pointer;
  background-color: #f3f3f3;
}
.room-div .chat-div .chat-input-box .chat-send:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}
